# bike-stats
### joudi awameh

In [2]:
import pandas as pd
import datetime as date

In [9]:
trip_df = pd.read_csv('trip.csv', error_bad_lines=False)
trip_df.head(10)

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
5,436,10/13/2014 10:34,10/13/2014 10:47,SEA00337,808.805,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1974.0
6,437,10/13/2014 11:35,10/13/2014 11:45,SEA00202,596.715,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1978.0
7,438,10/13/2014 11:35,10/13/2014 11:45,SEA00311,592.131,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1983.0
8,439,10/13/2014 11:35,10/13/2014 11:45,SEA00486,586.347,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Female,1974.0
9,440,10/13/2014 11:35,10/13/2014 11:45,SEA00434,587.634,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1958.0

# 1.What is the average trip duration for a borrowed bicycle?

In [10]:
df_trip['tripduration'].mean()

1178.2956753399776

# 2.What’s the most common age of a bicycle-sharer?

In [15]:
2020 - df_trip['birthyear'].mode()[0]

33.0

# 3.Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [24]:
weather_df = pd.read_csv('./weather.csv')
weather_df.head(10)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
5,10/18/2014,68,64.0,59,59,57,55,90,83,68,...,29.90,29.80,10,8,2,10,4,-,0.31,Rain
6,10/19/2014,73,64.0,55,57,55,53,94,74,52,...,29.73,29.67,10,10,6,10,3,18,0.00,NaN
7,10/20/2014,66,60.0,55,57,54,50,90,78,67,...,29.74,29.69,10,10,5,12,5,-,0.44,Rain
8,10/21/2014,64,58.0,55,52,49,46,87,70,58,...,29.85,29.74,10,10,6,15,8,21,0.10,Rain
9,10/22/2014,60,58.0,57,55,53,48,88,81,67,...,29.68,29.56,10,6,2,14,8,22,1.43,Rain

In [56]:
weather_df['Date'] = pd.to_datetime(weather_df['Date'])
weather_df['Month'] = weather_df['Date'].dt.month
mean = (weather_df[['Precipitation_In']]).groupby(weather_df.Month).mean()
print(mean)

medi = (weather_df[['Precipitation_In']]).groupby(weather_df.Month).median()
print(medi)

       Precipitation_In
Month
1              0.143548
2              0.168421
3              0.156935
4              0.051333
5              0.012419
6              0.030500
7              0.012097
8              0.018226
9              0.041000
10             0.189000
11             0.187833
12             0.236290
       Precipitation_In
Month
1                 0.020
2                 0.040
3                 0.025
4                 0.000
5                 0.000
6                 0.000
7                 0.000
8                 0.000
9                 0.000
10                0.040
11                0.035
12                0.100

# 4.What’s the average number of bikes at a given bike station?

In [52]:
df_station = pd.read_csv('./station.csv')
df_station.head(10)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN
5,CBD-04,Union St & 4th Ave,47.609221,-122.335596,7/27/2015,18,NaN,18,NaN
6,CBD-05,1st Ave & Marion St,47.604058,-122.335800,10/13/2014,20,NaN,20,NaN
7,CBD-06,2nd Ave & Spring St,47.605950,-122.335768,10/13/2014,20,11/9/2015,18,NaN
8,CBD-07,City Hall / 4th Ave & James St,47.603509,-122.330409,10/13/2014,20,NaN,20,NaN
9,CBD-13,2nd Ave & Pine St,47.610185,-122.339641,10/13/2014,18,NaN,18,NaN

In [53]:
with_decommission_date = df_station[df_station['decommission_date'].isnull()]
with_decommission_date['current_dockcount'].mean()

17.74074074074074

# 5. When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [57]:
mod_stations = df_station[['modification_date','current_dockcount','install_dockcount']].dropna()
mod_stations
a= mod_stations['current_dockcount'].sum()
b = mod_stations['install_dockcount'].sum()
answer = a-b
answer

-64

# 6.Come up with 3 more questions that can be answered with this data set.

#### max number for the current bikes in station?

In [43]:
max_num = df_station['current_dockcount'].max()
max_num

26

### What is the average current_dockcount?

In [44]:
current_dockcount = df_station['current_dockcount'].mean()
current_dockcount

16.517241379310345

### is it more likely that a bike user will be male or female?

In [47]:
df_trip.gender.mode()

0    Male
dtype: object